/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html, body {
  margin: 0;
  padding: 0; }

.main-layout {
  max-width: 956px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.49;
  color: #191D22;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .main-layout {
      margin: 0 auto;
      font-size: 16px; } }
  .main-layout * {
    box-sizing: border-box; }
  .main-layout p {
    margin: 0; }
  .main-layout a {
    color: inherit;
    text-decoration: none; }

.content-section {
  margin-top: 3.8rem;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative; }
  @media all and (min-width: 767px) {
    .content-section {
      padding-right: 8%;
      padding-left: 8%; } }
  .content-section_wide {
    padding: 50px 0; }
  .content-section_gray, .content-section_accent {
    background-color: #EFEFEF; }
  .content-section__content {
    padding-right: 1rem;
    padding-left: 1rem; }
    @media all and (min-width: 767px) {
      .content-section__content {
        padding-right: 8%;
        padding-left: 8%; } }
  .content-section__title {
    margin-top: 0;
    margin-bottom: .9em;
    padding-top: .6em;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #C54D4D;
    position: relative; }
    .content-section__title::before {
      content: '';
      width: 46%;
      height: 1px;
      border-top: 3px solid #000000;
      position: absolute;
      top: 0;
      left: 0; }
    @media all and (min-width: 767px) {
      .content-section__title {
        font-size: 32px; } }
    .content-section__title_curved-line::before {
      left: -16px;
      width: calc(46% + 16px); }
    .content-section__title_curved-line::after {
      content: '';
      width: 3px;
      height: 27px;
      background-color: #000;
      position: absolute;
      top: 0;
      left: -16px; }

.cols {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 767px) {
    .cols {
      flex-direction: column; } }
  .cols .col {
    width: calc(50% - 2rem);
    flex-basis: 50%; }
    .cols .col:first-child {
      padding-right: 1rem; }
    .cols .col:last-child {
      padding-left: 1rem; }
    @media screen and (max-width: 767px) {
      .cols .col {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem; }
        .cols .col:last-child {
          margin-top: 2rem; } }

/* headers */
.block-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%; }

/* text content */
.par {
  font-weight: 500; }
  .par:not(:last-child) {
    margin-bottom: 1em; }
  .par.priminfo {
    font-size: 20px; }
  .par.addinfo {
    font-size: 13px; }
  .par_big {
    font-size: 24px;
    font-weight: 600; }
  .par strong {
    font-weight: 700; }
  .par.par_margin-b {
    margin-bottom: 2.5em; }

.ul-list > li:not(:last-child) {
  margin-bottom: .7em; }

.main-layout p.task-desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 32px; }
  .main-layout p.task-desc strong {
    font-weight: 700; }

.content-section {
  margin-bottom: 80px;
  margin-top: 0; }

.unsert-table {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 606px; }
  .unsert-table__item {
    border: 1px solid #ADA0A2; }
    .unsert-table__item textarea {
      border: none;
      color: #ADA0A2;
      font-size: 14px;
      min-height: 165px;
      padding: 16px 28px;
      resize: none;
      width: 100%; }
      .unsert-table__item textarea:focus {
        outline: none; }
      .unsert-table__item textarea::placeholder {
        color: #ADA0A2; }
      @media screen and (max-width: 767px) {
        .unsert-table__item textarea {
          font-size: 13px;
          padding: 10px; } }
    .unsert-table__item:nth-of-type(2n) {
      border-left: none; }
    .unsert-table__item:nth-of-type(n + 3) {
      border-top: none; }
  .unsert-table__headline {
    background: #EFDEE1;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 28px; }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table__headline {
        font-size: 14px;
        line-height: 20px;
        padding: 10px; } }

.unsert-table-wrapper {
  border: 1px solid #ADA0A2;
  max-width: 744px;
  padding: 68px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .assignment .unsert-table-wrapper {
      max-width: 664px;
      padding: 28px; } }
  .unsert-table-wrapper__t-l-text {
    color: #ADA0A2;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;
    display: flex;
    height: 68px;
    justify-content: center;
    width: calc(50% - 68px);
    position: absolute;
    top: 0;
    left: 68px; }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__t-l-text {
        font-size: 14px;
        height: 28px;
        left: 28px;
        width: calc(50% - 28px); } }
  .unsert-table-wrapper__t-r-text {
    color: #ADA0A2;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;
    display: flex;
    height: 68px;
    justify-content: center;
    width: calc(50% - 68px);
    position: absolute;
    top: 0;
    right: 68px; }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__t-r-text {
        font-size: 14px;
        height: 28px;
        right: 28px;
        width: calc(50% - 28px); } }
  .unsert-table-wrapper__l-t-text {
    color: #ADA0A2;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 68px;
    transform: rotate(-90deg);
    height: calc(50% - 68px);
    white-space: nowrap;
    width: 68px; }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__l-t-text {
        font-size: 14px;
        height: calc(50% - 28px);
        top: 28px;
        width: 28px; } }
  .unsert-table-wrapper__l-b-text {
    color: #ADA0A2;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 68px;
    transform: rotate(-90deg);
    height: calc(50% - 68px);
    white-space: nowrap;
    width: 68px; }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__l-b-text {
        font-size: 14px;
        height: calc(50% - 28px);
        bottom: 28px;
        width: 28px; } }
  .unsert-table-wrapper__t-line {
    position: absolute;
    background: #ADA0A2;
    width: 3px;
    height: 46px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%); }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__t-line {
        width: 1px;
        height: 28px;
        top: 0; } }
  .unsert-table-wrapper__r-line {
    position: absolute;
    width: 46px;
    background: #ADA0A2;
    height: 3px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__r-line {
        height: 1px;
        right: 0;
        width: 28px; } }
  .unsert-table-wrapper__b-line {
    position: absolute;
    background: #ADA0A2;
    width: 3px;
    height: 46px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%); }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__b-line {
        width: 1px;
        height: 28px;
        bottom: 0; } }
  .unsert-table-wrapper__l-line {
    position: absolute;
    width: 46px;
    background: #ADA0A2;
    height: 3px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 767px) {
      .assignment .unsert-table-wrapper__l-line {
        width: 28px;
        left: 0;
        height: 1px; } }
